body {
padding-bottom: 100px;
}

img {
display: block; 
margin: 0 auto; 
max-width: 100%; 
}

.welcome-message {
font-size: 20px;
font-weight: 300;
margin-left: -3px;
margin-bottom: 10px;
}

.active-populations {
margin-bottom: 10px;
}

.activepop-title, .overall-attendance-title {
margin-bottom: 10px;
}


ol {
list-style-type: none;
padding-left: 30px;
margin-top: 0px;
}

.active-populations li a{
text-decoration: none;

}

.active-populations li a:hover{
font-weight: bolder;
}

.overall-attendance img{
margin-left: 100px;
margin-top: 30px ;
}

/* index.css */
.population-section {
justify-content: space-between;
display: flex;
width: 870px;
margin-top: 30px;
}

.active-populations {
flex: 1;
white-space: nowrap;
width: 442px;
}

.activepop-chart {
justify-content: space-between;
margin-left: 20px;


}
.pop-chart{
    margin-left: 50%;
}

.attendance-section {
display: flex;
align-items: flex-start; 
margin-top: 20px;
width: 840px;
}

.overall-attendance {
flex: 1;
white-space: nowrap; 
}

.overall-attendance-chart {
margin-left: 0px;

}

.activepop-chart img,
.overall-attendance-chart img {
width: 100%;
height: auto;
width: auto;
}





