<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    <title>Grades MSc ISM</title>
</head>
<body class="fade-in">
    <nav class="navbar">
        <div class="container" style="display: flex; justify-content: space-between; width: 100%; align-items: center;">
            <div class="logo-space">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="EPITA Logo" class="logo">
            </div>
            <h1 class="navbar-heading">Student Portal</h1>
        </div>
    </nav>

    <div class="container section">
        <div class="card mb-4" style="padding: 16px;">
            <div class="text-muted"><a href="/">Home</a> / <a href="/populations/ism">Population - MSc Information System and Management F2021</a> / Grades - <span class="bold-text">MSc ISM F2021</span></div>
        </div>
        
        
        <div class="card">
            <h3>Students final grades for Relational Databases (DT_RDBMS)</h3>
            <div class="table-container">
                <table>
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Exam Type</th>
                <th>Grade (20)</th>
            </tr>
            {% for grades in grades %}
            <tr>
                <td>{{ grades[0] }}</td>
                <td>{{ grades[1] }}</td>
                <td>{{ grades[2] }}</td>
                <td>{{ grades[3] }}</td>
                <td>{{ grades[4] }}</td>
            </tr>
            {% endfor %}
        </table>
            </div>
        </div>
        
    </div>

    <div id="constructionDate">
        Website Last Generation: <span id="lastUpdatedDate"></span>
    </div>

    <script src="{{ url_for('static', filename='last_generation.js') }}"></script>
</body>
</html>