<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='grades.css') }}">
    <title>Grades MSc ISM</title>
</head>
<body>
    <div class="grades-title-wrapper">
        <p class="grades-title"><a href="/">Home</a> / <a href="/populations/ism">Population - MSc Information System and Management F2021</a> / Grades - <span class="bold-text">MSc ISM F2021</span></p>
    </div>

    <div class="final-grades-wrapper">
        <h3 class="final-grades-title">Students final grades for Python Fundamentals (PG_PYTHON)</h3>

        <table>
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Exam Type</th>
                <th>Grade (20)</th>
            </tr>
            {% for grades in grades %}
            <tr>
                <td>{{ grades[0] }}</td>
                <td>{{ grades[1] }}</td>
                <td>{{ grades[2] }}</td>
                <td>{{ grades[3] }}</td>
                <td>{{ grades[4] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div id="constructionDate">
        Website Last Generation: <span id="lastUpdatedDate"></span>
    </div>

    <script src="{{ url_for('static', filename='last_generation.js') }}"></script>
</body>
</html>
